<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Autos</title>
  <link rel="stylesheet" href="static\style.css" />
</head>
<body>

  <!-- Header -->
  <header class="navbar">
    <div class="navbar__left">
      <a class="logo">Auto verbruik tracker</a>
    </div>
    <nav class="navbar__right">
      <a class="nav-link" href={{url_for("home")}}>Dashboard</a>
      <a class="nav-link" href={{url_for("logboek")}}>Logboek</a>
      <a href={{url_for("logout")}} class="nav-link">Uitloggen</a>
    </nav>
  </header>

  <!-- Hoofdcontainer -->
  <main class="shell">
    <section class="board">

      <!-- Linker titel in het paneel -->
      <div class="board__side-title">Autos</div>

      <!-- Bovenbalk met twee velden + button in het midden -->
       <form method="post">
          <div class="board__controls">
            <input type="text" class="field" placeholder="Kenteken" name="kenteken" />
            <input type="text" class="field" placeholder="kilometerstand" name="kilometers" />
            <input type="text" class="field" placeholder="Maximale liters" name="maxliter" />
            <button class="btn">Toevoegen</button>
            {% if message %}
                <p class="error-message">{{ message }}</p>
            {% endif %}
          </div>
      </form>
      <!-- Lijst-gebied -->
      <div class="board__list"> 
        <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Kenteken</th>
                        <th>Kilometerstand</th>
                        <th>Brandstof</th>
                        <th>Maximale liters</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                    {{ table | safe }}
                </tbody>
            </table>
      </div>

    </section>
  </main>

</body>
</html>
