<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Logboek</title>
  <link rel="stylesheet" href="static\style.css" />
</head>
<body>

  <!-- Header / Navbar -->
  <header class="navbar">
    <div class="navbar__left">
      <a class="logo">Auto verbruik tracker</a>
    </div>
    <nav class="navbar__right">
      <a href={{url_for("dashboard")}} class="nav-link">Dashboard</a>
      <a href={{url_for("cars")}} class="nav-link">Autos</a>
      <a href={{url_for("logout")}} class="nav-link">Uitloggen</a>
    </nav>
  </header>

  <!-- Hoofdsectie -->
  <main class="shell">
    <section class="board">

      <!-- Bovenste regel: dropdown (links), titel (midden), datum (rechts) -->
      <div class="board__bar">
        <form method="post">
        <div class="board__left">
          <label class="sr-only" for="filter">Filter</label>
          <select name="car_select" class="car-select" onchange="this.form.submit()">
              {% if cars %}
                  {% for car in cars %}
                      <option name='car_select' value='{{ car[0] }}' {% if car[0] == selectedCar %}selected{% endif %}>{{ car[0] }}</option>
                  {% endfor %}
              {% else %}
                  <option>Geen autos beschikbaar</option>
              {% endif %}
          </select>
        </div>
        

        <h2 class="board__title">Logboek</h2>

        <div class="board__right">
          <label class="sr-only" for="datum">Datum</label>
          <input class="input" type="date" name="start_date" min="{{ minDate }}" max="{{ maxDate }}" value="{{ selectedDate }}" onchange="this.form.submit()"/>
        </div>
        </form>
      </div>

      <!-- Lijst-gebied -->
       <div class="board__list"> 
        <table>
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Liters getanked</th>
                        <th>Verbruik</th>
                        <th>Brandstof</th>
                        <th>Actie</th>
                    </tr>
                </thead>
                <tbody>
                  {% if refuels %}
                    {% for refuel in refuels %}
                      <tr>
                        <td>{{ refuel[1] }}</td>
                        <td>{{ refuel[2] }}</td>
                        <td>{{ refuel[3] }}</td>
                        <td>{{ refuel[4] }}</td>
                        <td>
                          <form method='post' action='{{ url_for("delete_refuel") }}'>
                              <input type='hidden' name='refuel_id' value='{{ refuel[0] }}'><button class='btn' type='submit'>Verwijderen</button>
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
            </table>
      </div>

    </section>
  </main>

</body>
</html>