<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static\style.css" />
</head>
<body>

    <main class="login-shell">
        <div class="login-box">
            <h2 class="login-title">Inloggen of aanmelden</h2>
            <form method="post">
                <input type="text" class="field" placeholder="Gebruikersnaam" name="username">
                <input type="password" class="field" placeholder="Wachtwoord" name="password">
                <button class="btn" name="btn" value="login">Inloggen</button>
                <button class="btn" name="btn" value="signup">Aanmelden</button>
                {% if status %}
                    <p class="status">{{ status }}</p>
                {% endif %}
                </form>
        </div>
    </main>

</body>
</html>
